In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

'''import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))'''

"import os\nfor dirname, _, filenames in os.walk('/kaggle/input'):\n    for filename in filenames:\n        print(os.path.join(dirname, filename))"

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top_1000_popular_movies_tmdb.csv', lineterminator='\n' )
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top_1000_popular_movies_tmdb.csv', lineterminator='\n' )
df3 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top_1000_popular_movies_tmdb.csv', lineterminator='\n' )
df4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top_1000_popular_movies_tmdb.csv', lineterminator='\n' )
df5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top_1000_popular_movies_tmdb.csv', lineterminator='\n' )

# V2
* data is split into 4 tables
    * main
    * genres
    * Production companies
    * Overviews and tag lines

## Multiple tables

In [4]:
main = df2
genres = df3[['id', 'genres']]
prod_comp = df4[['id', 'production_companies']]
O_T = df5[['id','overview', 'tagline']]

## Data Separation and Cleaning

In [5]:
#main
main = main.drop('Unnamed: 0', axis = 1)
main = main.drop('overview', axis = 1)
main = main.drop('tagline', axis = 1)
main = main.drop('genres', axis = 1)
main = main.drop('production_companies', axis = 1)

#genres
g_col_melt = ['id', 'genres']
##column syntax cleaner
genres['genres'] = genres['genres'].str.strip('[]').str.replace("'", "")

##genre spliter
genres = genres.join(genres['genres'].str.split(',', expand = True))

##column renamer
genres.rename(columns={0: "1",
                       1: "2",
                       2: "3",
                       3: "4",
                       4: "5",
                       5: "6",
                       6: "7",
                       7: "8",
                       8: "9"}, inplace=True)

##Melter
genres = pd.melt(genres, id_vars = g_col_melt, var_name="genre#", value_name = "genre")
##drop unncessary column
genres = genres.drop('genres', axis = 1)
##Get rid of all nulls in genre column
genres.dropna(subset=['genre'], inplace=True)

#prod_comp
pc_col_melt = ['id', 'production_companies']
##column syntax cleaner
prod_comp['production_companies'] = prod_comp['production_companies'].str.strip('[]').str.replace("'", "")

##prodcomp spliter
prod_comp = prod_comp.join(prod_comp['production_companies'].str.split(',', expand = True))

##column renamer
prod_comp.rename(columns={0: "1",
                       1: "2",
                       2: "3",
                       3: "4",
                       4: "5",
                       5: "6",
                       6: "7",
                       7: "8",
                       8: "9",
                       9: "10",
                       10: "11",
                       11: "12",
                       12: "13",
                       13: "14",
                       14: "15",
                       15: "16",
                       16: "17",
                       17: "18",
                       18: "19",
                       19: "20",
                       20: "21",
                       21: "22",
                       22: "23",
                       23: "24",
                       24: "25",
                       25: "26",
                       26: "27",
                       27: "28",
                       28: "29",
                       29: "30"}, inplace=True)

##Melter
prod_comp = pd.melt(prod_comp, id_vars = pc_col_melt, var_name="prodcompany#", value_name = "production_company")
##drop unncessary column
prod_comp = prod_comp.drop('production_companies', axis = 1)
##Get rid of all nulls in genre column
prod_comp.dropna(subset=['production_company'], inplace=True)

<ipython-input-5-498ead6e7712>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres['genres'] = genres['genres'].str.strip('[]').str.replace("'", "")
<ipython-input-5-498ead6e7712>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_comp['production_companies'] = prod_comp['production_companies'].str.strip('[]').str.replace("'", "")

In [6]:
#Get rid of Movies that had not come out as of 1/31/24
main.dropna(subset=['release_date'], inplace=True)

#Check for nulls
##main.isnull().sum()
#inspect null column
##main[main['release_date'].isnull()]

In [7]:
main

,id,title,release_date,original_language,vote_average,vote_count,popularity,budget,revenue,runtime
0,385687,Fast X,2023-05-17,English,7.4,1347,8363.473,340000000,652000000,142
1,603692,John Wick: Chapter 4,2023-03-22,English,7.9,2896,4210.313,90000000,431769198,170
2,502356,The Super Mario Bros. Movie,2023-04-05,English,7.8,4628,3394.458,100000000,1308766975,92
3,569094,Spider-Man: Across the Spider-Verse,2023-05-31,English,8.8,1160,2859.047,100000000,313522201,140
4,536437,Hypnotic,2023-05-11,English,6.5,154,2654.854,70000000,0,94
...,...,...,...,...,...,...,...,...,...,...
9995,33142,Vivah,2006-11-10,Hindi,6.4,70,12.301,0,4000000,175
9996,9442,Dead Men Don't Wear Plaid,1982-05-21,English,6.6,324,12.301,9000000,18196170,89
9997,28774,Communion,1989-11-10,English,5.3,147,12.300,5000000,1919653,103
9998,11121,Tess,1979-10-06,English,7.0,283,12.300,12000000,20101247,186
9999,272692,The Possession of Michael King,2014-08-14,English,6.1,346,12.297,0,2405143,83

## Data export

In [ ]:
'''
main.to_csv("/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top10000moviesmain.csv", index = False)
genres.to_csv("/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top10000moviesgenres.csv", index = False)
prod_comp.to_csv("/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top10000moviesprodcomp.csv", index = False)
O_T.to_csv("/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top10000moviesot.csv", index = False)
'''

In [14]:
#save to one excel

import pandas as pd
import xlsxwriter

with pd.ExcelWriter('/content/drive/MyDrive/Colab Notebooks/Portfolio/Top 10000 Movies/top10000movies.xlsx', engine='xlsxwriter') as writer:
    main.to_excel(writer, sheet_name='Main', index=False)
    genres.to_excel(writer, sheet_name='Genres', index=False)
    prod_comp.to_excel(writer, sheet_name='Production Companies', index=False)
    O_T.to_excel(writer, sheet_name='Overviews and Taglines', index=False)

# V1

* all data is in one table

## Data Cleaning Stage 1

* split columns into additional columns
* melt those split columns together
* drop unnecessary initial columns

In [ ]:
melt_cols = [          'Unnamed: 0',                   'id',                'title',
               'release_date',               'genres',    'original_language',
               'vote_average',           'vote_count',           'popularity',
                   'overview',               'budget', 'production_companies',
                    'revenue',              'runtime',              'tagline']

melt_cols2 = ['Unnamed: 0', 'id', 'title', 'release_date', 'genres',
       'original_language', 'vote_average', 'vote_count', 'popularity',
       'overview', 'budget', 'production_companies', 'revenue', 'runtime',
       'tagline', 'genre#', 'genre']

In [ ]:
#column syntax cleaner
df['genres'] = df['genres'].str.strip('[]').str.replace("'", "")
df['production_companies'] = df['production_companies'].str.strip('[]').str.replace("'", "")

#genre spliter
df = df.join(df['genres'].str.split(',', expand = True))
##column renamer
df.rename(columns={0: "genre1",
                       1: "genre2",
                       2: "genre3",
                       3: "genre4",
                       4: "genre5",
                       5: "genre6",
                       6: "genre7",
                       7: "genre8",
                       8: "genre9"}, inplace=True)
##column melter
df = pd.melt(df, id_vars = melt_cols, var_name="genre#", value_name = "genre")


#prodcomp spliter
df = df.join(df['production_companies'].str.split(',', expand = True))
df = pd.melt(df, id_vars = melt_cols2, var_name="prodcompany#", value_name = "production_company")

In [ ]:
#Version without overview and tagline columns
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('overview', axis = 1)
df = df.drop('tagline', axis = 1)
df = df.drop('genres', axis = 1)
df = df.drop('production_companies', axis = 1)

In [ ]:
'''
#Version for including overview column and tagline columns
df = df.drop('Unnamed: 0', axis = 1)
df = df.drop('genres', axis = 1)
df = df.drop('production_companies', axis = 1)
'''

In [ ]:
df.info()

In [ ]:
df

## Data Cleaning Stage 2:

Quick idea, maybe put production company and genre into their own tables and join later